---
import '../main.css';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<html lang="en" class="bg-gray-900">
	<Layout
		title="Home - WebAudio"
		description="A collection of examples and experiments with the Web Audio API technology."
	>
		<main class="w-[64rem] p-6 max-w-full select-none">
			<h1 class="text-4xl font-bold text-center pb-5">
				Welcome to <span class="text-gradient">WebAudio</span>
			</h1>
			<p class="instructions bg-gray-700 my-7">
				This is a collection of examples and experiments with the
				<a
					class="text-gradient font-bold"
					href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API"
					target="_blank">Web Audio API technology</a
				>.
				<br />
				 Each of this cards contains a single page application with a prototype.
			</p>
			<ul role="list" class="link-card-grid">
				<Card
					href={`${import.meta.env.BASE_URL}/tone-generator`}
					title="Tone Generator"
					body="Generate basic audio waveforms using a digital oscillator."
				/>
				<Card
					href={`${import.meta.env.BASE_URL}/biquadfilter`}
					title="Biquad Filter Node"
					body="Represents a simple low-order filter. Used on white noise."
				/>
			</ul>
		</main>
	</Layout>
	<style>
		.instructions {
			line-height: 1.6;
			border: 2px solid rgba(var(--accent), 25%);
			padding: 1rem;
			border-radius: 0.4rem;
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(37ch, 1fr));
			gap: 1.5rem;
			padding: 0;
		}
	</style>


</html>
