---
import "../main.css";
import OscillatorContainer from "../containers/OscillatorContainer";
---

<html lang="en" class="bg-gray-900">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A digital oscillator that generate an audio signal at specific frequency."
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Oscillator - WebAudio</title>
  </head>
  <body>
    <main class="m-auto p-6 max-w-5xl select-none">
      <h1 class="text-4xl font-bold text-center pb-5 text-gradient">
        Oscillator Node
      </h1>
        <OscillatorContainer client:only="react"/>
    </main>
  </body>
</html>