/* @use "~bootstrap/scss/functions";
@use "~bootstrap/scss/variables";
@use "~bootstrap/scss/mixins"; */

@use "~bootstrap/scss/bootstrap";

@use 'scss/colors';

body {
  background-color: rgb(27, 38, 44);
}

#navbar nav {
  background-color: rgb(15, 76, 117);
}

header {
  height: auto;
  margin: 100px 0 50px 0;
  font-size: 1.5rem;
}
