@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 0, 150, 20;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #59db59 30%,
    #c3ffa8 60%
  );
}

html {
  color: #eee;
  font-family: system-ui, sans-serif;
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
